.heading {font-family: "Montserrat", Arial, sans-serif; font-size: 36px; color: #916036}

body {font-family: "Times New Roman", serif; background-color: #0ac1e5; color: #3c322a}

table, th, td{border: 1px solid #3c322a;background-color: #3092a6;border-collapse: collapse;}

#resultsDisplay{
    display:flex;
    flex-direction: column;
    align-items: center;
}

hr{height:2px;border-width:0;color:#e66f09; background-color:#e66f09;}

form{background-color:#3c322a;color:#e66f09; border:5px solid #3c322a;}

input{background-color:#3092a6; color:#3c322a;}

textarea{background-color:#3092a6; color:#3c322a;}

select{background-color:#3092a6;color:#3c322a;}
